@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700';
* {
  font-family: 'Roboto', sans-serif; }

.profile-header {
  display: flex;
  justify-content: center;
  padding: 30px; }

.profile-avatar {
  height: auto;
  max-height: 108px;
  max-width: 108px;
  width: auto;
  margin-right: 58px; }

.profile-user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.profile-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.profile-user-name {
  color: #a5cd39;
  font-size: 20px;
  margin-bottom: 5px; }

.profile-user-email {
  color: #4a4a4a;
  font-size: 12px; }

.profile-social-text {
  font-size: 14px;
  color: #4a4a4a; }

.profile-header-social {
  display: flex; }
  .profile-header-social :nth-last-child(2n) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #a5cd39; }
