.nav-bar-user-dropdown {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 2.5px 2.5px 5px 0px #9b9b9b;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  margin: 10px 0 0 -135px;
  padding: 0;
  position: relative;
  width: 170px; }
  .nav-bar-user-dropdown:after, .nav-bar-user-dropdown:before {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .nav-bar-user-dropdown:before {
    border-bottom-color: #f2f2f2;
    border-width: 11px;
    margin-left: -11px; }
  .nav-bar-user-dropdown:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 9px;
    margin-left: -9px; }
  .nav-bar-user-dropdown .nav-bar-user-dropdown-item {
    color: #000;
    font-size: 14px;
    height: 50%;
    padding: 8px 0px 4px 10px;
    text-decoration: none;
    position: relative;
    vertical-align: middle; }
    .nav-bar-user-dropdown .nav-bar-user-dropdown-item:hover {
      background-color: rgba(0, 173, 238, 0.25);
      color: #000; }

.nav-bar-user-dropdown.show {
  display: flex; }
