@import './_colors';

.navigation-bar {
  display: flex;
  justify-content: space-between;
  border: 1px $gallery solid;
  border-radius: 3px 3px 0 0;
  padding: 23px 34px 23px 49px;
}

.nav-bar-logo-container {
  display: flex;
  align-items: center;
}

.navigation-logo {
  max-height: 42px;
}

.nav-bar-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.nav-button {
  margin: 0 30px 0 0;
  border: none;

  &:last-child {
    margin: 0;
  }
}

.nav-notifications-button {
  width: 30px;
  height: 30px;
  background: url('../assets/notifications.svg') no-repeat center;
}

.nav-add-book-button {
  width: 28px;
  height: 30px;
  background: url('../assets/add_book.svg') no-repeat center;
}

.nav-avatar-button {
  width: 40px;
  height: 40px;
  position: relative;
}

.nav-avatar-dropdown-button {
  background: url('../assets/avatar-wbooks.png') no-repeat center;
  background-size: contain;
  border: none;
  height: 100%;
  outline: none;
  width: 100%;
}

.nav-bar-user-dropdown {
  background-color: $white;
  border: 1px solid $concrete;
  box-shadow: 2.5px 2.5px 5px 0px #9b9b9b;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  list-style-type: none;
  margin: 10px 0 0 -135px;
  padding: 0;
  position: relative;
  width: 170px;

  &:after, &:before {
  	bottom: 100%;
  	left: 90%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  &:before {
  	border-bottom-color: $concrete;
  	border-width: 11px;
  	margin-left: -11px;
  }

  &:after {
    border-color: rgba(136, 183, 213, 0);
  	border-bottom-color: $white;
  	border-width: 9px;
  	margin-left: -9px;
  }

  .nav-bar-user-dropdown-item {
    color: $black;
    font-size: 14px;
    height: 50%;
    padding: 8px 0px 4px 10px;
    text-decoration: none;
    position: relative;
    vertical-align: middle;

    &:hover {
      background-color: $cerulean-alpha;
      color: $black;
    }
  }
}

.nav-bar-user-dropdown.show {
  display: flex;
}
