.navigation-bar {
  display: flex;
  justify-content: space-between;
  border: 1px #eee solid;
  border-radius: 3px 3px 0 0;
  padding: 23px 34px 23px 49px; }

.nav-bar-logo-container {
  display: flex;
  align-items: center; }

.navigation-logo {
  max-height: 42px; }

.nav-bar-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative; }

.nav-button {
  margin: 0 30px 0 0;
  border: none; }
  .nav-button:last-child {
    margin: 0; }

.nav-notifications-button {
  width: 30px;
  height: 30px;
  background: url("../assets/notifications.svg") no-repeat center; }

.nav-add-book-button {
  width: 28px;
  height: 30px;
  background: url("../assets/add_book.svg") no-repeat center; }

.nav-avatar-button {
  width: 40px;
  height: 40px;
  position: relative; }

.nav-avatar-dropdown-button {
  background: url("../assets/avatar-wbooks.png") no-repeat center;
  background-size: contain;
  border: none;
  height: 100%;
  outline: none;
  width: 100%; }

.nav-bar-user-dropdown {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 2.5px 2.5px 5px 0px #9b9b9b;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  list-style-type: none;
  margin: 10px 0 0 -135px;
  padding: 0;
  position: relative;
  width: 170px; }
  .nav-bar-user-dropdown:after, .nav-bar-user-dropdown:before {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .nav-bar-user-dropdown:before {
    border-bottom-color: #f2f2f2;
    border-width: 11px;
    margin-left: -11px; }
  .nav-bar-user-dropdown:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 9px;
    margin-left: -9px; }
  .nav-bar-user-dropdown .nav-bar-user-dropdown-item {
    color: #000;
    font-size: 14px;
    height: 50%;
    padding: 8px 0px 4px 10px;
    text-decoration: none;
    position: relative;
    vertical-align: middle; }
    .nav-bar-user-dropdown .nav-bar-user-dropdown-item:hover {
      background-color: rgba(0, 173, 238, 0.25);
      color: #000; }

.nav-bar-user-dropdown.show {
  display: flex; }
