@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700';
* {
  font-family: 'Roboto', sans-serif; }

.book-filter-container {
  display: flex;
  justify-content: flex-start;
  padding: 50px 0px; }

.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9b9b9b;
  margin-top: 38px;
  max-width: 238px;
  padding: 0 10px;
  width: 238px;
  z-index: 1; }

.title-input {
  background-color: #f4f4f4;
  width: 238px;
  padding: 0 10px;
  max-height: 38px;
  height: 38px;
  border: none; }
  .title-input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: italic; }

.search-button {
  background: #a5cd39 url("../../assets/search.svg") no-repeat center;
  border: none;
  border-radius: 0;
  height: 38px;
  position: absolute;
  width: 38px; }

.book-input {
  color: #9b9b9b;
  font-size: 14px; }

.dropdown-container {
  align-items: center;
  background-color: #f4f4f4;
  display: flex;
  height: 38px;
  justify-content: space-between;
  margin-right: 28px;
  max-width: 238px;
  padding: 0 10px;
  width: 238px; }

.dropdown-placeholder {
  font-style: italic; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: inline-block; }
