@import '../_fonts';

.book-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 35px 65px 0;
}

.book-img {
  height: auto;
  max-height: 182px;
  max-width: 128px;
  width: auto;
}

.book-title {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}

.book-author {
  font-size: 12px;
}
