@import '../_colors';

.book-comment-container {
  display: flex;
  margin-bottom: 19px;
}

.book-comment-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-comment-avatar {
  height: 40px;
  margin-right: 16px;
  object-fit: contain;
  width: 40px;
}

.book-comment-username {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.book-comment-date {
  color: $tundora;
  font-size: 12px;
  font-weight: bold;
}

.book-comment-comment {
  color: $dusty-grey;
  font-size: 14px;
}
