.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  margin: 30px; }

.login-logo {
  align-self: center;
  height: auto;
  width: 108px;
  margin-bottom: 20px; }

.login-form-field {
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 20px; }

.login-form-input {
  background-color: #f4f4f4;
  border: none;
  color: #9b9b9b;
  font-size: 14px;
  font-style: italic;
  height: 38px;
  margin-top: 10px;
  min-height: 38px;
  padding: 0 11px; }

.invalid {
  border: 1px solid #ff0000; }

.login-form-accept-button {
  align-self: center;
  background-color: #00ADEE;
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 38px;
  margin-top: 40px;
  width: 175px; }

.login-form-error {
  color: #ff0000; }
